.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn{
  border: 2px solid;
  color:brown;
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: bold;
}

.board-container{
  margin: 20px;
}

.status{
  display: flex;
  justify-content: center;
  align-items: center;
}